In [2]:
import pandas as pd 
import sqlite3 as sq
from sqlalchemy import create_engine
import matplotlib.pyplot as plt

In [3]:
engine=create_engine(r"sqlite:///C:\Users\Lopezped\Documents\GitHub\NBA-Database-Creator\NBA_data.db")

In [4]:
connection = sq.connect("NBA_data.db")
c = connection.cursor()

In [5]:
engine.table_names()

['Player Contracts', 'Player Totals']

In [6]:
contracts = pd.read_sql_table(table_name="Player Contracts", con = engine)
totals = pd.read_sql_table(table_name="Player Totals", con = engine)

In [7]:
df_contracts= contracts.drop(labels=["Tm", "2019-20", "2020-21", "2021-22", "2022-23", "2023-24", "Signed Using", "Guaranteed"], axis=1).drop_duplicates("Player")
print(df_contracts.head(5))

              Player     2018-19
0      Stephen Curry  37457154.0
1         Chris Paul  35654150.0
2       LeBron James  35654150.0
3  Russell Westbrook  35350000.0
4      Blake Griffin  31873932.0

In [8]:
ml_data = totals.merge(df_contracts, on="Player")

In [9]:
ml_data["Age"] = ml_data.Age.astype(int)
ml_data["Pos"] = ml_data.Pos.astype("category")
ml_data["Tm"] = ml_data.Tm.astype("category")
ml_data.dtypes

Player       object
Pos        category
Age           int32
Tm         category
G           float64
GS          float64
MP          float64
FG          float64
FGA         float64
FG%         float64
3P          float64
3PA         float64
3P%         float64
2P          float64
2PA         float64
2P%         float64
eFG%        float64
FT          float64
FTA         float64
FT%         float64
ORB         float64
DRB         float64
TRB         float64
AST         float64
STL         float64
BLK         float64
TOV         float64
PF          float64
PTS         float64
MP/G        float64
TRB/G       float64
AST/G       float64
STL/G       float64
BLK/G       float64
TOV/G       float64
PTS/G       float64
2018-19     float64
dtype: object

In [10]:
import bokeh.plotting as bp
import bokeh.models as bm
import bokeh.io as bi

In [11]:
source = bp.ColumnDataSource(ml_data)
hover = bm.HoverTool(tooltips=[("Player", "@Player"), ("Position", "@Pos"),
                               ("Tm", "@Tm")])
plot = bp.figure(title="2017-2018 NBA Season", title_location = "above",
                 x_axis_label= "Points Scored",
                 y_axis_label="2018-19 Salary",
                 tools=[hover, "pan", "wheel_zoom"])

plot.circle(x="PTS/G", y="2018-19", source= source)
bi.show(plot)